.footer{
    padding-top: 48px;
    background-color: $primary-color;
    .footer__nav{
      display: flex;
      justify-content: space-between;
      ul{
        display: flex;
        li{
          &:not(:last-child){
            margin-right: 48px;
          }
          a{
            text-decoration: none;
            color: $white-color;
          }
        }
      }
    }
    .footer__information{
      border-bottom: 1px solid $white-color;
      li{
        margin-bottom: 19px;
        img{
          vertical-align: bottom;
        }
        a{
          display: inline-block;
          text-decoration: none;
          color: $white-color;
          font-size: 36px;
          margin-left: 17px;
        }
      }
    }
    .footer__copyright{
      display: flex;
      justify-content: space-between;
      .copyright{
        display: flex;
        color: $white-color;
        img{
          margin: 28px 0;
        }
        p{
          padding: 40px 0;
          margin-left: 38px;
          vertical-align: bottom;
        }
      }
      ul{
        display: flex;
        padding: 40px 0;
        li{
          padding-left: 62px;
          a{
            color: $white-color;
            text-decoration: none;
          }
        }
      }
    }
    .footer-logo{
      display: none;
    }
	}
	

@media screen and (max-width: $table-media) {
  .footer{
    padding-left: 48px;
    .footer__nav{
      ul{
        li{
          margin-right: 40px;
        }
        img{
          width: 24px;
          height: 24px;
        }
      }
    }
    .footer__information{
      margin-top: 24px;
      margin-right: 39px;
      li{
        margin-bottom: 11px;
        &:nth-child(2){
          img{
            width: 32px;
            height: 32px;
          }
          a{
            margin-left: 10px;
          }
        }
        a{
          font-size: 20px;
          margin-left: 18px;
        }
        img{
          width: 24px;
          height: 24px;
          vertical-align: text-bottom;;
        }
      }
    }
    .footer__copyright{
      .copyright{
        img{
          display: none;
        }
        p{
          margin-left: 0;
        }
      }
      ul{
        margin-right: 39px;
      }
    }
  }
}

@media screen and (max-width: $phone-media) {
  .footer{
    padding: 25px 15px;
    .footer__nav{
      display: block;
      float: right;
      ul{
        &:nth-child(1){
          display: none;
        }
        li{
          margin-right: 0;
          margin-left: 24px;
          &:not(:last-child){
            margin-right: 0;
          }
        }
      }
    }
    .footer__information{
      margin-top: 0;
      margin-right: 0;
      padding-bottom: 16px;
      li{
        margin-bottom: 8px;
        img{
          width: 20px;
          height: 20px;
        }
        a{
          font-size: 16px;
          margin-left: 4px;
        }
        &:nth-child(2) {
          img{
            width: 20px;
            height: 20px;
          }
          a{
            margin-left: 4px;
          }
        }
      }
    }
    .footer__copyright{
      position: relative;
      flex-direction: column;
      ul{
        padding: 0;
        flex-direction: column;
        margin-right: 0;
        margin-top: 4px;
        li{
          padding: 4px 0;
        }
      }
      .copyright{
        p{
          padding: 18px 0 0 0;
        }
      }
    }
    .footer-logo{
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}