.header{
  display: flex;
  background-color: $primary-color;
  align-items: center;
  justify-content: space-between;
  padding: 29.5px 88px;
  .menu{
    display: flex;
    li{
      margin-left: 64px;
      a{
        color: $white-color;
        text-decoration: none;
        font-size: 20px;
        padding: 15px 0;
        &:hover{
          border-bottom: 1px solid $white-color;
        }
      }
    }
  }
}
@media screen and (max-width: $table-media) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
    .menu{
      li{
        margin-left: 40px;
      }
    }
  }
}
@media screen and (max-width: $phone-media) {
  .header{
    display: block;
    padding: 0;
    a{
      text-align: center;
      display: block;
      img{
        width: 48px;
        height: 29.14px;
        margin: 10px 0;
      }
    }
    .menu{
      flex-wrap: wrap;
      li{
        width: 49.9%;
        margin-left: 0;
        border-top: 1px solid $white-color;
        &:nth-child(odd){
          border-right: 1px solid $white-color;
        }
        a{
          padding: 8px 0px;
          font-weight: bold;
          &:hover{
            border-bottom: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 505px){
  .header{
    .menu{
      li{
        width: 49.8%;
      }
    }
  }
}
@media screen and (max-width: 360px){
  .header{
    .menu{
      li{
        &:nth-child(3){
          a{
            padding: 8px 39px;
          }
        }
        a{
          padding: 8px 29px;
        }
      }
    }
  }
}