.banner{
  height: 840px;
  background-image: url("../images/index/banner.png");
  background-size: cover;
  background-position: center center;
  .content{
    color: $secondary-color;
    text-align: right;
    padding: 350px 0;
  }
}
.feature{
  background-color: $light-bg-color;
  .feature__service{
    padding: 64px 0;
    text-align: center;
    h3{
      margin-bottom: 60px;
      color: $secondary-color;
    }
    ul{
      display: flex;
      justify-content: space-between;
      li{
        padding: 0 34px;
        width: 25%;
        h5{
          margin-top: 40px;
          margin-bottom: 4px;
          color: $secondary-color;
        }
        p{
          text-align: left;
        }
      }
    }
  }
}
.series{
  padding-top: 64px;
  h3{
      margin-bottom: 60px;
      text-align: center;
      color: $secondary-color;
  }
  .classic{
    display: flex;
    margin-bottom: 32px;
    .classic__title{
      display: flex;
      align-items: center;
      img{
          margin-left: 30px;
          margin-right: 8px;
      }
      h3{
        font-weight: normal;
        font-style: italic;
        margin-bottom: 0;
        color: $primary-color;
      }
    }
  }
  .sunglases{
    flex-direction: row-reverse;
    .classic__title{
      img{
        margin-left: 0;
      }
      h3{
        margin-right: 30px;
      }
    }
  }
}
.jointDesign{
  background-image: url('../images/index/bg.png');
  height: 743px;
  background-position: center center;
  background-size: cover;
  margin-top: 48px;
  padding-top: 64px;
  h3{
    color: $white-color;
    text-align: center;
    margin-bottom: 60px;
  }
  .container__image{
    display: flex;
    justify-content: space-between;
    .image-setting{
      width: 540px;
      height: 472px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      h5{
        color: $primary-color;
      }
    }
    .doubleA{
      background-image: url('../images/index/product-8.png');
    }
    .YOUTH{
      background-image: url('../images/index/product-9.png');
    }
  }
}
.customer{
  padding-top: 64px;
  padding-bottom: 64px;
  h3{
    margin-bottom: 60px;
    text-align: center;
    color: $secondary-color;
  }
  ul{
    display: flex;
  }
  li{
    border: 1px solid #DEE2E6;
    width: 25%;
    padding-bottom: 15px;
    &:not(:last-child){
      margin-right: 28px;
    }
    img{
      margin-bottom: 14px;
    }
    .customer__content{
      padding-left: 15px;
      h6{
        font-size: 14px;
        font-weight: normal;
      }
      span{
        font-size: 14px;
        color: #707070;
      }
      p{
        margin-bottom: 10px;
        margin-top: 7px;
      }
    }
  }
}
.contact{
  background-color: $light-bg-color;
  padding-top: 64px;
  padding-bottom: 80px;
  .contact__container{
    max-width: 730px;
    margin: 0 auto;
    h3{
      text-align: center;
      margin-bottom: 24px;
    }
    p{
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .contact__imformation{
    display: flex;
    flex-direction: column;
    input,textarea{
      margin-top: 4px;
      margin-bottom: 16px;
      padding-left: 16px;
      padding-bottom: 14px;
      padding-top: 14px;
      &::placeholder{
        font-size: 16px;
      }
    }
    textarea{
      height: 136px;
    }
    div{
      input{
        margin: 0 4px;
      }
    }
  }
  .submit{
    text-align: center;
    margin-top: 42px;
    button{
      padding: 16px 143px;
      font-size: 16px;
      text-align: center;
      background-color: $primary-color;
      border: 0;
      cursor: pointer;
      color: $white-color;
    }
  }
}

// rwd

@media screen and (max-width: $table-media) {
  .banner{
    background-image: url('../images/index/banner-sm.png');
    .content{
      padding-right: 40px;
    }
  }
  .feature{
    .feature__service{
      h3{
        font-size: 32px;
      }
      ul{
        flex-wrap: wrap;
        justify-content: space-around;
        .service__clock{
          order: -2;
        }
        .service__heart{
          order: -1;
        }
        li{
          width: 50%;
          padding: 0;
          h5{
            margin-top: 16px;
          }
          p{
            margin-bottom: 40px;
            padding: 0 75px;
          }
        }
      }
    }
  }
  .series{
    .classic{
      margin-left: 39px;
      .classic__image{
        width: 55%;
        img{
          width: 100%;
          height: 168px;;
        }
      }
      .classic__title{
        width: 45%;
        img{
          width: 32px;
          height: 25.16px;
        }
        h3{
          font-size: 36px;
        }
      }
    }
    .sunglases{
      flex-direction: row;
      .classic__title{
        img{
          margin-left: 30px;
          margin-right: 8px;
        }
      }
    } 
  }
  .jointDesign{
    height: 415px;
    padding: 40px 39px 0;
    h3{
      font-size: 32px;
      margin-bottom: 32px;
    }
    .container{
      .container__image{
        .doubleA{
          margin-right: 30px;
        }
        .image-setting{
          height: 280px;
          h5{
            font-size: 32px;
          }
        }
      }
    }
  }
  .customer{
    h3{
      font-size: 32px;
    }
    ul{
      flex-wrap: wrap;
      padding: 0 37px;
      li{
        width: 48%;
        margin-bottom: 28px;
        &:not(:last-child){
          margin-right: 0;
        }
        &:nth-child(odd){
          margin-right: 30px;
        }
        img{
          width: 100%;
          height: 256px;
        }
      }
    }
  }
  .contact{
    .contact__container{
      max-width: 450px;
      h3{
        font-size: 32px;
      }
      p{
        font-size: 16px;
      }
      input, textarea{
        padding: 8px 0 8px 12px;
      }
      label{
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 940px) {
  .customer{
    ul{
      li{
        width: 47.4%;
      }
    }
  }
}
@media screen and (max-width: $phone-media) {
  .banner{
    background-image: url('../images/index/banner.png');
    height: 394px;
    .content{
      padding: 164px 15px 164px 0;
      h4{
        font-size: 16px;
      }
      .h2{
        font-size: 32px;
      }
    }
  }
  .feature{
    .feature__service{
      padding-top: 32px;
      h3{
        font-size: 24px;
        margin-bottom: 20px;
      }
      ul{
        li{
          width: 100%;
          h5{
            font-size: 20px;
            margin-bottom: 8px;
          }
          p{
            padding-left: 90px;
            padding-right: 90px;
            padding-bottom: 12px;
          }
        }
      }
    }
  }
  .series{
    padding-top: 32px;
    h3{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .classic{
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 5px;
      position: relative;
      .classic__image{
        width: 100%;
      }
      .classic__title{
        position: absolute;
        width: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img{
          margin: 0;
        }
        h3{
          font-size: 28px;
          color: $white-color
        }
      }
      .diamond-icon{
        img{
          content: url('../images/index/icon/icon-diamond-white.svg');
        }
      }
      .sun-icon{
        img{
          content: url('../images/index/icon/icon-sun-white.svg');
        }
      }
      .thunder-icon{
        img{
          content: url('../images/index/icon/icon-thunder-white.svg');
        }
      }
    }
    
  }
  .jointDesign{
    height: 696px;
    padding: 32px 15px;
    h3{
      font-size: 20px;
    }
    .container{
      .container__image{
        flex-wrap: wrap;
        .image-setting{
          width: 100%;
          height: 284px;
        }
        .doubleA{
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
    }
  }
  .customer{
    padding: 32px 0;
    h3{
      font-size: 20px;
      margin-bottom: 20px;
    }
    ul{
      padding: 0 15px;
      li{
        width: 100%;
        margin-right: 0;
        &:nth-child(odd){
          margin-right: 0;
        }
        img{
          margin-bottom: 0;
        }
        .customer__content{
          padding: 16px 0 16px 16px;
          p{
            margin-top: 16px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  .contact{
    padding-top: 32px;
    padding-bottom: 32px;
    padding: 32px 15px;
    .contact__container{
      h3{
        margin-bottom: 20px;
      }
      p{
        line-height: 1.5rem;
        margin-bottom: 8px;
      }
    }
    .submit{
      margin-top: 24px;
      button{
        padding: 8px 54.5px;
      }
    }
  }
}