.location-banner{
    background-image: url('../images/location/banner.png');
    height: 304px;
    background-size: cover;
    background-position: center center;
}
.location__content{
    display: flex;
    align-items: flex-end;
		height: 100%;
		padding-bottom: 16px;
		img{
			margin-left: 24px;
			margin-bottom: 16px;
		}
}
.location-place{
	padding: 22px 0 272px;
	label{
		margin-right: 39px;
		vertical-align: middle;
		font-weight: bold;
	}
	select{
		width: 324px;
		height: 45px;
		font-size: 18px;
		padding-left: 15px;
		color: #495057;
		opacity: 0.75;
		cursor: pointer;
	}
	ul{
		margin-top: 32px;
		display: flex;
		flex-wrap: wrap;
		li{
			width: 30.98%;
			margin-right: 30px;
			margin-bottom: 32px;
			border: 1px solid #00000020;
			&:nth-child(3n + 3){
				margin-right: 0;
			}
			img{
				width: 100%;
			}
		}
		h2{
			padding: 12px 0 12px 24px;
			border-bottom: 1px solid #00000020;
			margin-bottom: 16px;
		}
		a{
			display: block;
			padding-left: 57px;
			padding-right: 24px;
			font-size: 20px;
			text-indent: -33px;
			margin-bottom: 8px;
			text-decoration: none;
			color: #000;
			img{
				margin-right: 12px;
				width: 20px;
				height: 20px;
			}
		}
		button{
			margin-top: 8px;
			font-size: 20px;
			width: 100%;
			height: 66px;
			background-color: #000;
			color: #fff;
			padding: 0;
			box-shadow: none;
			cursor: pointer;
		}
	}
	.location-info{
		margin-top: 32px;
		display: flex;
	}
	.info{
		width: 41.7%;
		border: 1px solid #00000020;
		margin-right: 30px;
		padding-bottom: 8px;
		img{
			width: 100%;
		}
		h2{
			padding: 12px 0 12px 24px;
			border-bottom: 1px solid #00000020;
			margin-bottom: 16px;
		}
		a{
			display: block;
			padding-left: 57px;
			padding-right: 24px;
			font-size: 20px;
			text-indent: -33px;
			margin-bottom: 8px;
			text-decoration: none;
			color: #000;
			img{
				margin-right: 12px;
				width: 20px;
				height: 20px;
			}
		}
		button{
			margin-top: 8px;
			font-size: 20px;
			width: 100%;
			height: 66px;
			background-color: #000;
			color: #fff;
			padding: 0;
			box-shadow: none;
			cursor: pointer;
		}
	}
	.location-map{
		width: 50%;
	}
}

// rwd 

@media screen and (max-width: $table-media){
	.location__content{
		h1{
			margin-left: 39px;
			font-size: 48px;
		}
		img{
			width: 30px;
			height: 43px;
			margin-left: 16px;
			margin-bottom: 12px;
		}
	}
	.location-place{
		padding: 20px 39px 84px;
		label{
			margin-right: 20px;
			font-size: 16px;
		}
		select{
			width: 237px;
			font-size: 16px;
		}
		ul{
			li{
				width: 47.5%;
				margin-right: 0;
				&:nth-child(odd){
					margin-right: 30px;
				}
			}
			h2{
				font-size: 16px;
			}
			a,button{
				font-size: 14px;
			}
			a{
				img{
					margin-right: 16px;
				}
			}
		}
		.location-info{
			flex-direction: column;
		}
		.info{
			display: flex;
			width: auto;
			border: none;
			margin-right: 0;
			padding-bottom: 0;
			margin-bottom: 32px;
			img{
				height: 164px;
			}
		}
		.info__text{
			width: 90%;
			margin-left: 30px;
			border: 1px solid #00000020;
			h2,a,button{
				font-weight: bold;
			}
			h2{
				font-size: 16px;
			}
			a,button{
				font-size: 14px;
			}
		}
		.location-map{
			width: 100%;
			iframe{
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: $phone-media){
	.location-banner{
		height: 143px;
	}
	.location__content{
		h1{
			font-size: 28px;
			margin-left: 15px;
		}
		img{
			width: 16px;
			height: 24px;
			margin-left: 8px;
			margin-bottom: 5px;
		}
	}
	.location-place{
		padding: 8px 15px 40px;
		label{
			font-size: 14px;
			margin-right: 12px;
		}
		ul{
			li{
				width: 100%;
				margin-bottom: 16px;
				&:nth-child(odd){
					margin-right: 0;
				}
				img{
					height: 164px;
				}
				a{
					img{
						width: 20px;
						height: 20px;
					}
				}
			}
		}
		.info{
			flex-direction: column;
		}
		.info__text{
			width: 100%;
			margin-left: 0;
			padding-bottom: 8px;
		}
		.location-map{
			margin-bottom: 16px;
		}
	}
}