.glass__series{
	max-width: 1390px;
	margin: 0 auto;
	display: flex;
	&:nth-child(1){
		li{
			border-left: 1px solid #DCDCDC;
		}
	}
	.active{
		border-bottom: 15px solid $primary-color;
	}
	li{
		width: 33.333333%;
		border-right: 1px solid #DCDCDC;
		a{
			text-decoration: none;
			font-size: 42px;
			display: block;
			text-align: center;
			color: #000;
			padding: 24px 0 9px 0;
		}
		img{
			vertical-align: middle;
		}
	}
}
.glass__banner{
	display: flex;
	height: 309px;
	img{
		width: calc(100% / 2 - 15px);
		&:nth-child(1){
			margin-right: 30px;
		}
	}
}
.product{
	margin-top: 88px;
	h1,h2{
		text-align: center;
	}
	h1{
		font-size: 42px;
	}
	h2{
		font-size: 32px;
	}
	ul{
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	li{
		margin-bottom: 104px;
	}
	img{
		width: 255px;
	}
	p,span{
		font-size: 24px;
	}
	p{
		display: inline;
	}
	span{
		float: right;
		color: $primary-color;
	}
	.color{
		a{
			display: inline-block;
			width: 24px;
			height: 24px;
			background-color: black;
			border-radius: 4px;
			&:nth-child(1){
				background-color: #5F3E2D;
			}
			&:nth-child(2){
				background-color: #B75929;
			}
		}
	}
}
.navigation{
	margin-bottom: 156px;
	ul{
		display: flex;
		justify-content: center;
		li{
			display: block;
			border-top: 1px solid #555555;
			border-bottom: 1px solid #555555;
			border-right: 1px solid #555555;
			&:nth-child(1){
				border-left: 1px solid #555555;
				font-size: 19px;
			}
			&:last-child{
				font-size: 19px;
			}
		}
		a{
			display: block;
			text-decoration: none;
			color: #555555;
			line-height: 1.5rem;
			font-size: 18px;
			padding: 10px 15px;
			&:hover{
				background-color: #000;
				color: $white-color;
			}
		}
		.active{
			background-color: #000;
			color: $white-color;
		}
	}
}