.h1 {
  font-size: 72px; }

.h2 {
  font-size: 64px; }

.h3 {
  font-size: 48px; }

.h4 {
  font-size: 36px; }

.h5 {
  font-size: 24px; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans', 'Roboto', sans-serif; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #AA0601;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29.5px 88px; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .menu li {
      margin-left: 64px; }
      .header .menu li a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        padding: 15px 0; }
        .header .menu li a:hover {
          border-bottom: 1px solid #fff; }

@media screen and (max-width: 1130px) {
  .header {
    padding-left: 40px;
    padding-right: 40px; }
    .header .menu li {
      margin-left: 40px; } }

@media screen and (max-width: 767px) {
  .header {
    display: block;
    padding: 0; }
    .header a {
      text-align: center;
      display: block; }
      .header a img {
        width: 48px;
        height: 29.14px;
        margin: 10px 0; }
    .header .menu {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .header .menu li {
        width: 49.8%;
        margin-left: 0;
        border-top: 1px solid #fff; }
        .header .menu li:nth-child(odd) {
          border-right: 1px solid #fff; }
        .header .menu li a {
          padding: 8px 0px;
          font-weight: bold; }
          .header .menu li a:hover {
            border-bottom: 0; } }

@media screen and (max-width: 505px) {
  .header .menu li {
    width: 49.8%; } }

@media screen and (max-width: 360px) {
  .header .menu li:nth-child(3) a {
    padding: 8px 39px; }
  .header .menu li a {
    padding: 8px 29px; } }

.footer {
  padding-top: 48px;
  background-color: #AA0601; }
  .footer .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .footer__nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .footer__nav ul li:not(:last-child) {
        margin-right: 48px; }
      .footer .footer__nav ul li a {
        text-decoration: none;
        color: #fff; }
  .footer .footer__information {
    border-bottom: 1px solid #fff; }
    .footer .footer__information li {
      margin-bottom: 19px; }
      .footer .footer__information li img {
        vertical-align: bottom; }
      .footer .footer__information li a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 36px;
        margin-left: 17px; }
  .footer .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .footer__copyright .copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #fff; }
      .footer .footer__copyright .copyright img {
        margin: 28px 0; }
      .footer .footer__copyright .copyright p {
        padding: 40px 0;
        margin-left: 38px;
        vertical-align: bottom; }
    .footer .footer__copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 40px 0; }
      .footer .footer__copyright ul li {
        padding-left: 62px; }
        .footer .footer__copyright ul li a {
          color: #fff;
          text-decoration: none; }
  .footer .footer-logo {
    display: none; }

@media screen and (max-width: 1130px) {
  .footer {
    padding-left: 48px; }
    .footer .footer__nav ul li {
      margin-right: 40px; }
    .footer .footer__nav ul img {
      width: 24px;
      height: 24px; }
    .footer .footer__information {
      margin-top: 24px;
      margin-right: 39px; }
      .footer .footer__information li {
        margin-bottom: 11px; }
        .footer .footer__information li:nth-child(2) img {
          width: 32px;
          height: 32px; }
        .footer .footer__information li:nth-child(2) a {
          margin-left: 10px; }
        .footer .footer__information li a {
          font-size: 20px;
          margin-left: 18px; }
        .footer .footer__information li img {
          width: 24px;
          height: 24px;
          vertical-align: text-bottom; }
    .footer .footer__copyright .copyright img {
      display: none; }
    .footer .footer__copyright .copyright p {
      margin-left: 0; }
    .footer .footer__copyright ul {
      margin-right: 39px; } }

@media screen and (max-width: 767px) {
  .footer {
    padding: 25px 15px; }
    .footer .footer__nav {
      display: block;
      float: right; }
      .footer .footer__nav ul:nth-child(1) {
        display: none; }
      .footer .footer__nav ul li {
        margin-right: 0;
        margin-left: 24px; }
        .footer .footer__nav ul li:not(:last-child) {
          margin-right: 0; }
    .footer .footer__information {
      margin-top: 0;
      margin-right: 0;
      padding-bottom: 16px; }
      .footer .footer__information li {
        margin-bottom: 8px; }
        .footer .footer__information li img {
          width: 20px;
          height: 20px; }
        .footer .footer__information li a {
          font-size: 16px;
          margin-left: 4px; }
        .footer .footer__information li:nth-child(2) img {
          width: 20px;
          height: 20px; }
        .footer .footer__information li:nth-child(2) a {
          margin-left: 4px; }
    .footer .footer__copyright {
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .footer__copyright ul {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-right: 0;
        margin-top: 4px; }
        .footer .footer__copyright ul li {
          padding: 4px 0; }
      .footer .footer__copyright .copyright p {
        padding: 18px 0 0 0; }
    .footer .footer-logo {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0; } }

.navigation {
  margin-bottom: 156px; }
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .navigation ul li {
      display: block;
      border-top: 1px solid #555555;
      border-bottom: 1px solid #555555;
      border-right: 1px solid #555555; }
      .navigation ul li:nth-child(1) {
        border-left: 1px solid #555555;
        font-size: 19px; }
      .navigation ul li:last-child {
        font-size: 19px; }
    .navigation ul a {
      display: block;
      text-decoration: none;
      color: #555555;
      line-height: 1.5rem;
      font-size: 18px;
      padding: 10px 15px; }
      .navigation ul a:hover {
        background-color: #000;
        color: #fff; }
    .navigation ul .active {
      background-color: #000;
      color: #fff; }

@media screen and (max-width: 1130px) {
  .navigation {
    margin-bottom: 104px;
    margin-top: 33px; } }

@media screen and (max-width: 767px) {
  .navigation {
    margin-top: 8px;
    margin-bottom: 56px; }
    .navigation ul li :nth-child(1) {
      font-size: 12px; }
      .navigation ul li :nth-child(1) a {
        padding: 8px 8px 7px 9px; }
    .navigation ul a {
      padding: 8px 10px; } }

.breadcrumb {
  margin-top: 8px; }
  .breadcrumb ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    margin-bottom: 17px; }
    .breadcrumb ol a {
      text-decoration: none;
      color: #000;
      padding-left: 5px; }
  .breadcrumb li:nth-child(1) a {
    padding-left: 0; }
  .breadcrumb .active {
    color: #AA0601; }

@media screen and (max-width: 1130px) {
  .breadcrumb {
    padding-left: 39px; }
    .breadcrumb a {
      font-size: 14px; } }

@media screen and (max-width: 767px) {
  .breadcrumb {
    padding-left: 15px; } }

.news {
  background-color: #650300; }

.navbarNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navbarNews ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbarNews li {
    margin-right: 48px; }
    .navbarNews li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      padding: 12px 0 14px;
      display: block;
      -webkit-transition: .2s all;
      -o-transition: .2s all;
      transition: .2s all; }
      .navbarNews li a:hover {
        color: #AA0601;
        background-color: #fff;
        font-weight: bold; }
    .navbarNews li:last-child {
      margin-right: 0; }
  .navbarNews .search {
    padding: 12px 0 14px; }

@media screen and (max-width: 1130px) {
  .navbarNews {
    padding: 0 39px; }
    .navbarNews li a {
      font-size: 16px;
      padding: 16px 0; }
    .navbarNews .search {
      padding: 16px 0; } }

@media screen and (max-width: 767px) {
  .navbarNews {
    display: none;
    padding: 0 15px;
    margin-top: 0; }
  .navbarNews-open {
    display: block; }
    .navbarNews-open .search {
      display: none; }
    .navbarNews-open ul {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .navbarNews-open li {
      margin-right: 0; } }

.banner {
  height: 840px;
  background-image: url("../images/index/banner.png");
  background-size: cover;
  background-position: center center; }
  .banner .content {
    color: #650300;
    text-align: right;
    padding: 350px 0; }

.feature {
  background-color: #AA06010D; }
  .feature .feature__service {
    padding: 64px 0;
    text-align: center; }
    .feature .feature__service h3 {
      margin-bottom: 60px;
      color: #650300; }
    .feature .feature__service ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .feature .feature__service ul li {
        padding: 0 34px;
        width: 25%; }
        .feature .feature__service ul li h5 {
          margin-top: 40px;
          margin-bottom: 4px;
          color: #650300; }
        .feature .feature__service ul li p {
          text-align: left; }

.series {
  padding-top: 64px; }
  .series h3 {
    margin-bottom: 60px;
    text-align: center;
    color: #650300; }
  .series .classic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px; }
    .series .classic .classic__image img {
      -o-object-fit: cover;
         object-fit: cover; }
    .series .classic .classic__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .series .classic .classic__title img {
        margin-left: 30px;
        margin-right: 8px; }
      .series .classic .classic__title h3 {
        font-weight: normal;
        font-style: italic;
        margin-bottom: 0;
        color: #AA0601; }
  .series .sunglases {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .series .sunglases .classic__title img {
      margin-left: 0; }
    .series .sunglases .classic__title h3 {
      margin-right: 30px; }

.jointDesign {
  background-image: url("../images/index/bg.png");
  height: 743px;
  background-position: center center;
  background-size: cover;
  margin-top: 48px;
  padding-top: 64px; }
  .jointDesign h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 60px; }
  .jointDesign .container__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .jointDesign .container__image .image-setting {
      width: 540px;
      height: 472px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .jointDesign .container__image .image-setting h5 {
        color: #AA0601; }
    .jointDesign .container__image .doubleA {
      background-image: url("../images/index/product-8.png"); }
    .jointDesign .container__image .YOUTH {
      background-image: url("../images/index/product-9.png"); }

.customer {
  padding-top: 64px;
  padding-bottom: 64px; }
  .customer h3 {
    margin-bottom: 60px;
    text-align: center;
    color: #650300; }
  .customer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .customer li {
    border: 1px solid #DEE2E6;
    width: 25%;
    padding-bottom: 15px; }
    .customer li:not(:last-child) {
      margin-right: 28px; }
    .customer li img {
      margin-bottom: 14px; }
    .customer li .customer__content {
      padding-left: 15px; }
      .customer li .customer__content h6 {
        font-size: 14px;
        font-weight: normal; }
      .customer li .customer__content span {
        font-size: 14px;
        color: #707070; }
      .customer li .customer__content p {
        margin-bottom: 10px;
        margin-top: 7px; }

.contact {
  background-color: #AA06010D;
  padding-top: 64px;
  padding-bottom: 80px; }
  .contact .contact__container {
    max-width: 730px;
    margin: 0 auto; }
    .contact .contact__container h3 {
      text-align: center;
      margin-bottom: 24px; }
    .contact .contact__container p {
      font-size: 20px;
      margin-bottom: 20px; }
  .contact .contact__imformation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact .contact__imformation input, .contact .contact__imformation textarea {
      margin-top: 4px;
      margin-bottom: 16px;
      padding-left: 16px;
      padding-bottom: 14px;
      padding-top: 14px; }
      .contact .contact__imformation input::-webkit-input-placeholder, .contact .contact__imformation textarea::-webkit-input-placeholder {
        font-size: 16px; }
      .contact .contact__imformation input::-moz-placeholder, .contact .contact__imformation textarea::-moz-placeholder {
        font-size: 16px; }
      .contact .contact__imformation input:-ms-input-placeholder, .contact .contact__imformation textarea:-ms-input-placeholder {
        font-size: 16px; }
      .contact .contact__imformation input::-ms-input-placeholder, .contact .contact__imformation textarea::-ms-input-placeholder {
        font-size: 16px; }
      .contact .contact__imformation input::placeholder, .contact .contact__imformation textarea::placeholder {
        font-size: 16px; }
    .contact .contact__imformation textarea {
      height: 136px; }
    .contact .contact__imformation div input {
      margin: 0 4px; }
  .contact .submit {
    text-align: center;
    margin-top: 42px; }
    .contact .submit button {
      padding: 16px 143px;
      font-size: 16px;
      text-align: center;
      background-color: #AA0601;
      border: 0;
      cursor: pointer;
      color: #fff; }

@media screen and (max-width: 1130px) {
  .banner {
    background-image: url("../images/index/banner-sm.png"); }
    .banner .content {
      padding-right: 40px; }
  .feature .feature__service h3 {
    font-size: 32px; }
  .feature .feature__service ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .feature .feature__service ul .service__clock {
      -webkit-box-ordinal-group: -1;
          -ms-flex-order: -2;
              order: -2; }
    .feature .feature__service ul .service__heart {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }
    .feature .feature__service ul li {
      width: 50%;
      padding: 0; }
      .feature .feature__service ul li h5 {
        margin-top: 16px; }
      .feature .feature__service ul li p {
        margin-bottom: 40px;
        padding: 0 75px; }
  .series .classic {
    margin-left: 39px; }
    .series .classic .classic__image {
      width: 55%; }
      .series .classic .classic__image img {
        width: 100%;
        height: 168px; }
    .series .classic .classic__title {
      width: 45%; }
      .series .classic .classic__title img {
        width: 32px;
        height: 25.16px; }
      .series .classic .classic__title h3 {
        font-size: 36px; }
  .series .sunglases {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .series .sunglases .classic__title img {
      margin-left: 30px;
      margin-right: 8px; }
  .jointDesign {
    height: 415px;
    padding: 40px 39px 0; }
    .jointDesign h3 {
      font-size: 32px;
      margin-bottom: 32px; }
    .jointDesign .container .container__image .doubleA {
      margin-right: 30px; }
    .jointDesign .container .container__image .image-setting {
      height: 280px; }
      .jointDesign .container .container__image .image-setting h5 {
        font-size: 32px; }
  .customer h3 {
    font-size: 32px; }
  .customer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 37px; }
    .customer ul li {
      width: 48%;
      margin-bottom: 28px; }
      .customer ul li:not(:last-child) {
        margin-right: 0; }
      .customer ul li:nth-child(odd) {
        margin-right: 30px; }
      .customer ul li img {
        width: 100%;
        height: 256px; }
  .contact .contact__container {
    max-width: 450px; }
    .contact .contact__container h3 {
      font-size: 32px; }
    .contact .contact__container p {
      font-size: 16px; }
    .contact .contact__container input, .contact .contact__container textarea {
      padding: 8px 0 8px 12px; }
    .contact .contact__container label {
      font-size: 14px; }
    .contact .contact__container .contact__imformation div {
      padding-left: 24px;
      text-indent: -24px; } }

@media screen and (max-width: 940px) {
  .customer ul li {
    width: 47.4%; } }

@media screen and (max-width: 767px) {
  .banner {
    background-image: url("../images/index/banner.png");
    height: 394px; }
    .banner .content {
      padding: 164px 15px 164px 0; }
      .banner .content h4 {
        font-size: 16px; }
      .banner .content .h2 {
        font-size: 32px; }
  .feature .feature__service {
    padding-top: 32px; }
    .feature .feature__service h3 {
      font-size: 24px;
      margin-bottom: 20px; }
    .feature .feature__service ul li {
      width: 100%; }
      .feature .feature__service ul li h5 {
        font-size: 20px;
        margin-bottom: 8px; }
      .feature .feature__service ul li p {
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 12px; }
  .series {
    padding-top: 32px; }
    .series h3 {
      font-size: 20px;
      margin-bottom: 20px; }
    .series .classic {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 5px;
      position: relative; }
      .series .classic .classic__image {
        width: 100%; }
      .series .classic .classic__title {
        position: absolute;
        width: auto;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
        .series .classic .classic__title img {
          margin: 0; }
        .series .classic .classic__title h3 {
          font-size: 28px;
          color: #fff; }
      .series .classic .diamond-icon img {
        content: url("../images/index/icon/icon-diamond-white.svg"); }
      .series .classic .sun-icon img {
        content: url("../images/index/icon/icon-sun-white.svg"); }
      .series .classic .thunder-icon img {
        content: url("../images/index/icon/icon-thunder-white.svg"); }
  .jointDesign {
    height: 696px;
    padding: 32px 15px; }
    .jointDesign h3 {
      font-size: 20px; }
    .jointDesign .container .container__image {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .jointDesign .container .container__image .image-setting {
        width: 100%;
        height: 284px; }
      .jointDesign .container .container__image .doubleA {
        margin-right: 0;
        margin-bottom: 16px; }
  .customer {
    padding: 32px 0; }
    .customer h3 {
      font-size: 20px;
      margin-bottom: 20px; }
    .customer ul {
      padding: 0 15px; }
      .customer ul li {
        width: 100%;
        margin-right: 0; }
        .customer ul li:nth-child(odd) {
          margin-right: 0; }
        .customer ul li img {
          margin-bottom: 0; }
        .customer ul li .customer__content {
          padding: 16px 0 16px 16px; }
          .customer ul li .customer__content p {
            margin-top: 16px;
            margin-bottom: 16px; }
  .contact {
    padding-top: 32px;
    padding-bottom: 32px;
    padding: 32px 15px; }
    .contact .contact__container h3 {
      margin-bottom: 20px; }
    .contact .contact__container p {
      line-height: 1.5rem;
      margin-bottom: 8px; }
    .contact .submit {
      margin-top: 24px; }
      .contact .submit button {
        padding: 8px 54.5px; } }

.glass__series {
  max-width: 1390px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .glass__series:nth-child(1) li {
    border-left: 1px solid #DCDCDC; }
  .glass__series .active {
    border-bottom: 16px solid #AA0601; }
  .glass__series li {
    width: 33.333333%;
    border-right: 1px solid #DCDCDC; }
    .glass__series li:nth-child(1) a {
      padding: 24px 0 8px 0; }
    .glass__series li a {
      text-decoration: none;
      font-size: 42px;
      display: block;
      text-align: center;
      color: #000;
      padding: 24px 0; }
    .glass__series li img {
      vertical-align: middle; }

.glass__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .glass__banner img {
    width: calc(100% / 2 - 15px);
    max-height: 305px; }
    .glass__banner img:nth-child(1) {
      margin-right: 30px; }

.product {
  margin-top: 88px; }
  .product h1, .product h2 {
    text-align: center; }
  .product h1 {
    font-size: 42px; }
  .product h2 {
    font-size: 32px; }
  .product ul {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product li {
    width: 22.97%;
    margin: 0 30px 104px 0px; }
    .product li + :nth-child(4n + 4) {
      margin-right: 0; }
  .product img {
    width: 255px; }
  .product p, .product span {
    font-size: 24px; }
  .product span {
    float: right;
    color: #AA0601; }
  .product .color {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #5F3E2D;
    border-radius: 4px; }
    .product .color + .color {
      background-color: #B75929; }

@media screen and (max-width: 1130px) {
  .glass__series {
    width: auto; }
    .glass__series .active {
      border-bottom: 8px solid #AA0601; }
    .glass__series li a {
      font-size: 28px;
      padding: 16px 0; }
    .glass__series li img {
      height: 32px;
      width: 32px; }
    .glass__series li:nth-child(1) a {
      padding: 16px 0 8px 0; }
  .glass__banner img {
    width: 50%; }
    .glass__banner img:nth-child(1) {
      margin-right: 0; }
  .product {
    margin-top: 40px; }
    .product h1 {
      font-size: 32px; }
    .product h2 {
      font-size: 24px; }
    .product ul {
      margin-top: 32px; }
    .product li {
      margin: 0 15px 72px;
      width: 46%; }
    .product span {
      float: none; }
    .product img {
      width: 100%; } }

@media screen and (max-width: 767px) {
  .glass__series li img {
    width: 15px;
    height: 12px; }
  .glass__series li:nth-child(1) a {
    padding: 8px 0 4px 0; }
  .glass__series li a {
    font-size: 14px;
    padding: 8px 0 8px 0; }
  .glass__series .active {
    border-bottom: 4px solid #AA0601; }
  .product {
    margin-top: 30px; }
    .product h1 {
      font-size: 20px; }
    .product h2 {
      font-size: 16px; }
    .product ul {
      margin-top: 20px; }
    .product li {
      width: 100%;
      margin-bottom: 32px; }
      .product li + :nth-child(4n + 4) {
        margin-right: 15px; }
    .product p, .product span {
      font-size: 16px; }
    .product span {
      float: right; }
    .product .color {
      width: 17px;
      height: 16px; } }

.sunglasses-product {
  margin-top: 88px;
  margin-bottom: 200px; }
  .sunglasses-product h1, .sunglasses-product h2 {
    text-align: center; }
  .sunglasses-product h1 {
    font-size: 42px; }
  .sunglasses-product h2 {
    font-size: 32px; }
  .sunglasses-product ul {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .sunglasses-product li {
    width: 31%;
    margin: 0 15px 104px 15px; }
    .sunglasses-product li:nth-child(3n + 3) {
      margin-right: 0; }
    .sunglasses-product li:nth-child(3n + 1) {
      margin-left: 0; }
  .sunglasses-product img {
    width: 100%; }
  .sunglasses-product p, .sunglasses-product span {
    font-size: 18px; }
  .sunglasses-product p {
    margin-bottom: 8px; }
  .sunglasses-product span {
    display: block;
    color: #AA0601;
    margin-bottom: 11px; }
  .sunglasses-product .color {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: #5F3E2D;
    border-radius: 4px;
    margin-right: 8px; }
    .sunglasses-product .color + .color {
      background-color: #B75929; }

.sunglasses-nav {
  display: none; }

@media screen and (min-width: 1130px) {
  .glass__series li:nth-child(2) a {
    padding: 24px 0 8px 0; } }

@media only screen and (min-width: 767px) and (max-width: 1130px) {
  .glass__series li:nth-child(2) a {
    padding: 16px 0 8px 0; } }

@media screen and (max-width: 1130px) {
  .sunglasses-product {
    margin-top: 40px;
    padding: 0 39px;
    margin-bottom: 0; }
    .sunglasses-product h1 {
      font-size: 32px; }
    .sunglasses-product h2 {
      font-size: 24px; }
    .sunglasses-product ul {
      margin-top: 32px; }
    .sunglasses-product li {
      width: 47%;
      margin: 0 0 72px 0; }
      .sunglasses-product li:nth-child(odd) {
        margin-right: 30px; }
    .sunglasses-product p, .sunglasses-product span {
      font-size: 24px; }
    .sunglasses-product p {
      float: left; }
    .sunglasses-product span {
      text-align: right; }
    .sunglasses-product .color {
      width: 24px;
      height: 24px; }
  .sunglasses-nav {
    display: block; } }

@media screen and (max-width: 767px) {
  .glass__series li:nth-child(2) a {
    padding: 8px 0 4px 0; }
  .sunglasses-product {
    padding: 0 15px;
    margin-top: 30px; }
    .sunglasses-product h1 {
      font-size: 20px; }
    .sunglasses-product h2 {
      font-size: 16px; }
    .sunglasses-product li {
      margin: 0 0 32px 0;
      width: 100%; }
      .sunglasses-product li:nth-child(odd) {
        margin-right: 0; }
    .sunglasses-product p, .sunglasses-product span {
      font-size: 16px; }
    .sunglasses-product .color {
      width: 16px;
      height: 16px; } }

.location-banner {
  background-image: url("../images/location/banner.png");
  height: 304px;
  background-size: cover;
  background-position: center center; }

.location__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding-bottom: 16px; }
  .location__content img {
    margin-left: 24px;
    margin-bottom: 16px; }

.location-place {
  padding: 22px 0 272px; }
  .location-place label {
    margin-right: 39px;
    vertical-align: middle;
    font-weight: bold; }
  .location-place select {
    width: 324px;
    height: 45px;
    font-size: 18px;
    padding-left: 15px;
    color: #495057;
    opacity: 0.75;
    cursor: pointer; }
  .location-place ul {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .location-place ul li {
      width: 30.98%;
      margin-right: 30px;
      margin-bottom: 32px;
      border: 1px solid #00000020; }
      .location-place ul li:nth-child(3n + 3) {
        margin-right: 0; }
      .location-place ul li img {
        width: 100%; }
    .location-place ul h2 {
      padding: 12px 0 12px 24px;
      border-bottom: 1px solid #00000020;
      margin-bottom: 16px; }
    .location-place ul a {
      display: block;
      padding-left: 57px;
      padding-right: 24px;
      font-size: 20px;
      text-indent: -33px;
      margin-bottom: 8px;
      text-decoration: none;
      color: #000; }
      .location-place ul a img {
        margin-right: 12px;
        width: 20px;
        height: 20px; }
    .location-place ul button {
      margin-top: 8px;
      font-size: 20px;
      width: 100%;
      height: 66px;
      background-color: #000;
      color: #fff;
      padding: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      cursor: pointer; }
  .location-place .location-info {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .location-place .info {
    width: 41.7%;
    border: 1px solid #00000020;
    margin-right: 30px;
    padding-bottom: 8px; }
    .location-place .info img {
      width: 100%; }
    .location-place .info h2 {
      padding: 12px 0 12px 24px;
      border-bottom: 1px solid #00000020;
      margin-bottom: 16px; }
    .location-place .info a {
      display: block;
      padding-left: 57px;
      padding-right: 24px;
      font-size: 20px;
      text-indent: -33px;
      margin-bottom: 8px;
      text-decoration: none;
      color: #000; }
      .location-place .info a img {
        margin-right: 12px;
        width: 20px;
        height: 20px; }
    .location-place .info button {
      margin-top: 8px;
      font-size: 20px;
      width: 100%;
      height: 66px;
      background-color: #000;
      color: #fff;
      padding: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      cursor: pointer; }
  .location-place .location-map {
    width: 50%; }

@media screen and (max-width: 1130px) {
  .location__content h1 {
    margin-left: 39px;
    font-size: 48px; }
  .location__content img {
    width: 30px;
    height: 43px;
    margin-left: 16px;
    margin-bottom: 12px; }
  .location-place {
    padding: 20px 39px 84px; }
    .location-place label {
      margin-right: 20px;
      font-size: 16px; }
    .location-place select {
      width: 237px;
      font-size: 16px; }
    .location-place ul li {
      width: 47.5%;
      margin-right: 0; }
      .location-place ul li:nth-child(odd) {
        margin-right: 30px; }
    .location-place ul h2 {
      font-size: 16px; }
    .location-place ul a, .location-place ul button {
      font-size: 14px; }
    .location-place ul a img {
      margin-right: 16px; }
    .location-place .location-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .location-place .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: auto;
      border: none;
      margin-right: 0;
      padding-bottom: 0;
      margin-bottom: 32px; }
      .location-place .info img {
        height: 164px; }
    .location-place .info__text {
      width: 90%;
      margin-left: 30px;
      border: 1px solid #00000020; }
      .location-place .info__text h2, .location-place .info__text a, .location-place .info__text button {
        font-weight: bold; }
      .location-place .info__text h2 {
        font-size: 16px; }
      .location-place .info__text a, .location-place .info__text button {
        font-size: 14px; }
    .location-place .location-map {
      width: 100%; }
      .location-place .location-map iframe {
        width: 100%; } }

@media screen and (max-width: 767px) {
  .location-banner {
    height: 143px; }
  .location__content h1 {
    font-size: 28px;
    margin-left: 15px; }
  .location__content img {
    width: 16px;
    height: 24px;
    margin-left: 8px;
    margin-bottom: 5px; }
  .location-place {
    padding: 8px 15px 40px; }
    .location-place label {
      font-size: 14px;
      margin-right: 12px; }
    .location-place ul li {
      width: 100%;
      margin-bottom: 16px; }
      .location-place ul li:nth-child(odd) {
        margin-right: 0; }
      .location-place ul li img {
        height: 164px; }
      .location-place ul li a img {
        width: 20px;
        height: 20px; }
    .location-place .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .location-place .info__text {
      width: 100%;
      margin-left: 0;
      padding-bottom: 8px; }
    .location-place .location-map {
      margin-bottom: 16px; } }

.qa-content {
  padding: 80px 0 264px 0; }
  .qa-content li {
    margin-bottom: 40px; }
  .qa-content h2 {
    font-size: 32px;
    margin-bottom: 36px; }
  .qa-content h3 {
    margin-bottom: 16px;
    font-size: 20px; }
  .qa-content p {
    margin-left: 90px; }

@media screen and (max-width: 1130px) {
  .qa-content {
    padding: 40px 0 64px 39px; }
    .qa-content li {
      margin-bottom: 40px; }
    .qa-content h2 {
      font-size: 32px;
      margin-bottom: 36px; }
    .qa-content h3 {
      margin-bottom: 16px;
      font-size: 20px; }
    .qa-content p {
      margin-left: 60px;
      margin-right: 39px; } }

@media screen and (max-width: 767px) {
  .qa-content {
    padding: 24px 15px 36px 15px; }
    .qa-content li {
      margin-bottom: 20px; }
    .qa-content h2 {
      font-size: 20px;
      margin-bottom: 12px; }
    .qa-content h3 {
      margin-bottom: 20px;
      font-size: 16px; }
    .qa-content p {
      margin-left: 0px;
      margin-right: 0px;
      font-size: 14px; }
      .qa-content p br {
        content: '';
        display: block;
        margin-bottom: 20px; }
        .qa-content p br:not(:last-child) {
          display: none; } }

.blog {
  padding: 82px 0 40px; }
  .blog img {
    height: auto; }
  .blog .blog__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px; }
  .blog .content {
    position: relative;
    margin-left: 30px; }
    .blog .content h2 {
      font-size: 32px;
      color: #650300; }
    .blog .content p {
      font-size: 20px;
      line-height: 30px; }
      .blog .content p:nth-child(2) {
        display: inline-block;
        margin-bottom: 24px; }
      .blog .content p:nth-child(4) {
        color: #555555; }
    .blog .content span {
      float: right; }
    .blog .content a {
      text-decoration: none;
      color: #650300;
      font-size: 36px;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      right: 0; }
    .blog .content .mediaMore {
      display: none; }

@media screen and (max-width: 1130px) {
  .blog {
    padding: 40px 39px 44px; }
    .blog img {
      width: 330px; }
    .blog .content h2 {
      font-size: 20px; }
    .blog .content p {
      font-size: 14px;
      line-height: 21px; }
      .blog .content p:nth-child(2) {
        font-size: 16px;
        margin-bottom: 16px; }
    .blog .content span {
      font-size: 14px; }
    .blog .content a {
      font-size: 14px;
      color: #555555;
      display: none; }
    .blog .content .mediaMore {
      display: inline;
      position: static;
      margin-left: 2px; } }

@media screen and (max-width: 767px) {
  .blog {
    padding: 24px 15px 21px; }
    .blog .blog__content {
      margin-bottom: 26px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .blog img {
      width: 100%;
      height: 193px; }
    .blog .content {
      margin-left: 0;
      margin-top: 8px; }
      .blog .content p:nth-child(2) {
        font-size: 14px;
        margin-bottom: 0;
        font-weight: bold; }
      .blog .content p:nth-child(4) {
        display: none; } }

.special h5 {
  display: inline-block;
  margin-right: 16px; }
  .special h5 a {
    text-decoration: none;
    color: #AA0601; }

.speical-valentines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.speical__content h1 {
  margin-bottom: 5px; }

.speical__content h2 {
  font-size: 28px;
  display: inline-block;
  margin-bottom: 23px; }

.speical__content span {
  float: right;
  color: #6C6C6C; }

.speical__content li {
  margin-bottom: 36px; }
  .speical__content li img {
    margin-bottom: 24px;
    width: 100%; }
  .speical__content li p {
    font-size: 20px;
    color: #555555;
    line-height: 30px;
    font-weight: bold; }

.speical__content .share {
  font-weight: bold;
  font-size: 20px; }
  .speical__content .share p {
    display: inline-block; }
  .speical__content .share img {
    margin: 0 8px;
    vertical-align: middle; }

.speical__footer {
  border-top: 1px solid #707070;
  margin-top: 16px;
  margin-bottom: 304px;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .speical__footer img {
    vertical-align: baseline; }
  .speical__footer a {
    text-decoration: none; }
  .speical__footer p {
    color: #000;
    display: inline-block; }

.speical__tags {
  margin-left: 31px; }
  .speical__tags img {
    vertical-align: middle; }
  .speical__tags h3 {
    font-size: 28px;
    color: #AA0601;
    display: inline-block; }
  .speical__tags h5 {
    display: inline-block;
    margin-right: 24px; }

@media screen and (max-width: 1130px) {
  .special {
    padding-left: 39px;
    padding-right: 39px; }
    .special h5 {
      font-size: 16px; }
  .speical__content h1 {
    font-size: 32px; }
  .speical__content h2 {
    font-size: 16px;
    margin-bottom: 16px; }
  .speical__content span {
    font-size: 14px; }
  .speical__content li {
    margin-bottom: 24px; }
    .speical__content li p {
      font-size: 16px; }
  .speical__content .share {
    padding-top: 3px;
    font-size: 16px; }
    .speical__content .share img {
      width: 20px; }
  .speical__footer {
    width: 133%;
    padding-top: 16px;
    margin-bottom: 104px; }
    .speical__footer img {
      width: 20px; }
  .speical__tags img {
    width: 24px;
    height: 24px;
    vertical-align: bottom; }
  .speical__tags h3 {
    font-size: 20px; }
  .speical__tags h5 {
    margin-top: 6px; } }

@media screen and (max-width: 767px) {
  .special {
    padding: 0 15px; }
    .special h5 {
      font-size: 14px;
      margin-right: 4px; }
    .special h1 {
      font-size: 20px;
      color: #AA0601; }
    .special h2 {
      font-size: 14px;
      margin-bottom: 19px; }
  .speical-valentines {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .speical__content li img {
    margin-bottom: 16px; }
  .speical__footer {
    width: auto;
    margin-bottom: 31px;
    padding-top: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .speical__footer a {
      margin-bottom: 8px; }
      .speical__footer a:nth-child(2) img {
        float: left;
        margin-right: 5px; }
  .speical__tags {
    margin-left: 0;
    margin-bottom: 56px;
    margin-right: 50px; }
    .speical__tags h5 {
      font-size: 16px; } }

/*# sourceMappingURL=all.css.map */
