.breadcrumb{
	margin-top: 8px;
  ol{
		display: flex;
		font-weight: bold;
		margin-bottom: 17px;
		a{
			text-decoration: none;
			color: #000;
			padding-left: 5px;
		}
	}
	li{
		&:nth-child(1){
			a{
				padding-left: 0;
			}
		}
	}
	.active{
		color: $primary-color;
	}
}

// rwd

@media screen and (max-width: $table-media){
	.breadcrumb{
		padding-left: 39px;
		a{
			font-size: 14px;
		}
	}
}
@media screen and (max-width: $phone-media){
	.breadcrumb{
		padding-left: 15px;
	}
}