.news{
  background-color: $secondary-color;
}
.navbarNews{
    display: flex;
    justify-content: space-between;
    ul{
      display: flex;
      align-items: center;
    }
    li{
      margin-right: 48px;
      a{
        text-decoration: none;
        color: $white-color;
        font-weight: bold;
        font-size: 20px;
        padding: 12px 0;
        display: block;
        transition: .2s all;
        &:hover{
          color: $primary-color;
          background-color: #fff;
          font-weight: bold;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
    .search{
        padding: 12px 0;
    }
  }

  // rwd

@media screen and (max-width: $table-media){
	.navbarNews{
		padding: 0 39px;
		li{
			a{
				font-size: 16px;
				padding: 12px 0;
			}
		}
		.search{
			padding: 12px 0;
		}
	}
}
@media screen and (max-width: $phone-media){
	.navbarNews{
    display: none;
    padding: 0 15px;
    margin-top: 0;
  }
  .navbarNews-open{
    display: block;
    .search{
      display: none;
    }
    ul{
      justify-content: space-between;
    }
    li{
      margin-right: 0;
    }
  }
}